{% extends 'layout.html' %}

{% block title %}
  <title>Home | Casa Criativa</title>
{% endblock title %}

{% block content %}

  <section id="intro">
    <header>
      <a href="/">
        <img src="/assets/Logo.svg" alt="Imagem da Logomarca">
      </a>
    </header>

    <main>
      <p>
        Ficar em casa em períodos longos, não deve ser nada fácil.
      </p>

      <p>
        Por isso, iremos catalogar ideias, <strong>brincadeiras, jogos, filmes, livros, cursos, dicas</strong> e tudo que for necessário para tornar esse momento mais interessante.
      </p>

      <p>
        Comece clicando em <span>ver ideias</span> para ver as  ideias cadastradas e contribua <span>adicionando a sua ideia.</span>
      </p>
    </main>

    <section id="buttons">
      <button onclick="onOff()"> + Adicionar Ideia</button>
      <a href="/ideias" class="button"> Ver Ideias</a>
    </section>

    {% include 'parts/footer.html' %}
  </section>

  <section id="last-ideas">
    {% include 'parts/loop_ideas.html' %}
  </section>

{% endblock content %}